/* CSS Document */

/*Header Nav and footer */
nav {
	width: 500px;
    font-size: 20px;
    font-family:'caladea', Lucida Blackletter, sans-serif;
	font-weight:bold;
    text-shadow: 3px 2px 3px #333333;
	text-align:center;
	top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
	position:fixed;
}
nav ul li a{
	text-decoration: none;
    color: #fff;
    padding: 20px 15px 0px 15px;
	float: left;
	display: block;
	margin: 0 auto;

}
 
footer ul, nav ul {
	list-style:none;
}

footer {
	width:210px;
	bottom: 0;
	right:0;
    float:right;
	position:fixed;
}

footer ul li a{
	text-decoration: none;
    color: #fff;
    padding: 8px 15px 8px 15px;
	float: left;
	display: block;	
}

/* Body */
body {
	font: 20px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	background-image: url(../images/bkgrd.jpg);
	background-repeat: repeat;
}

/* Float on Nav hover*/

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active
 {
	transform: translateY(-8px);
	background-image: url(../images/highlight_menu2.png);
	background-repeat: no-repeat;
}

/* Transition for homepage text  */

#one p,h2{
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

 #pop {
	width: 700px; 
	height: 400px; 
	background: #ff0;
	border:2px solid;
	padding:10px;
 	position: fixed;
  	top: screenTop;
 	 left: 0;
 	 right: 0;
  	bottom: 0;
  	z-index: 500;
  	display: none;
}


table {
	width: 60%;
	height: 50%;
	text-align:center;
	margin-top: 30px;
	padding-top: 0px;
	vertical-align:top;
	align-content:center;
	position:relative;
	top:0;
	left:0;
	z-index:0;
}


#btn_close{
	right:5;
	top:5;
	float:right;
}

#contactform {
	width:400px;
	height:auto;
	margin:0 auto;
	background-color:#CC5C27;
	border: 1px solid #5F5E5E;
	padding:6px;
}
