/* CSS Document */

/* Custom fonts */
@font-face {
   font-family: 'caladea';
   src: url(../fonts/caladea/caladea-bold.ttf) format('truetype');
   font-weight: bold;
   font-style: normal;
}

@font-face {
   font-family: 'caladea';
   src: url(../fonts/caladea/caladea-bolditalic.ttf) format('truetype'); 
   font-weight: bold;
   font-style: italic;
}

@font-face {
   font-family: impact;
   src:url(../fonts/impact.ttf);
   font-weight:normal;
}

/* common styles*/
.floatleft {
	float: left;
	margin-bottom:5px;
}
.floatright {
	float:right;
	margin-bottom:5px;
}
.center {
	width:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Container and section styles */

section, h1 , h2, ul, li, img, p{
	margin:0px;	
}

#container {
	width: 960px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	top: 0px;
	left: 0px;
	position: relative;
}

/* Body */
body {
	background-image: url(../images/bkgrd.jpg);
	background-repeat: repeat;
}

section {
	display: block;
	padding-top:30px;
	height: 900px;
	width: 960px;
	margin-top: 0px;
	margin-bottom: 0px;
	color:#fff;
}
#home #about #contact{
	color: #fff;
}

.three{
	
	color:#968D8D;
}


/*Header Nav and footer styles*/
nav {
	width: 500px;
    font-size: 20px;
    font-family:'caladea', Lucida Blackletter, sans-serif;
	font-weight:bold;
    text-shadow: 3px 2px 3px #333333;
	text-align:center;
	top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
	position:fixed;
	z-index:1000;
}
nav ul li a{
	text-decoration: none;
    color: #fff;
    padding: 20px 15px 0px 15px;
	float: left;
	display: block;
	margin: 0 auto;

}
 
footer ul, nav ul {
	list-style:none;
}

footer {
	width:210px;
	top: 0;
	right:0;
    float:right;
	position:fixed;
	padding-top: 1%;
}

footer ul li a{
	text-decoration: none;
    color: #fff;
    padding: 8px 15px 8px 15px;
	float: left;
	display: block;	
}

/* Float on Nav hover*/

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active
 {
	transform: translateY(-8px);
	background-image: url(../images/highlight_menu2.png);
	background-repeat: no-repeat;
}



/* Styles for the "home" section */

#home{
	padding-top:2%;	
}
#hello {
	font-family:'impact', Lucida, sans-serif;
	font-size:60px;
	padding:0px 0px 10px 0px;
}
#preetha {
	font-family:'impact', Lucida, sans-serif;
	font-size:70px;
	padding:10px 0px 20px 0px;
	color:#B25372;
}

#home ,h2, p{
	line-height: 70%;
}

#home p{
	font-family:'caladea', Lucida Blackletter, sans-serif;
	font-weight:bold;
	font-style:italic;
	font-size:30px;
	padding:0px 0px 10px 0px;	
}

/* Transition for homepage text  */

#home p,h2{
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/* styles for section "about" */

#about{
	
	padding-top:5%;
}

#about h2{
	color:#02324D;
	margin:30px;
	text-align:center;
	font-family:'caladea', Lucida Blackletter, sans-serif;
	font-weight:bold;
	font-style: italic;
	font-size:40px;
}

#about_me{
	width:75%;
	height:auto;
	line-height: 1.5em;
	word-spacing: normal;
	padding-left:10em;
	text-align:justify;
	margin-top:0 auto;
	font-family:'caladea', Lucida Blackletter, sans-serif;
	font-weight:bold;
	font-style:italic;
	font-size:large;
	text-indent:30px;
}

#resume{
	display:inline;	
}

#resume a{
	white-space:nowrap;
	color:#02324D;
	text-decoration:none;
}

/* styles for section "work" */

#work{
	padding-top:5%;
}

#pop {
	width: 700px; 
	height: 400px; 
	background: #ff0;
	border:2px solid;
	padding:10px;
 	position: fixed;
  	top: screenTop;
 	left: 0;
 	right: 0;
  	bottom: 0;
  	z-index: 500;
  	display: none;
}


table {
	width: 60%;
	height: 50%;
	text-align:center;
	margin-top: 30px;
	padding-top: 0px;
	vertical-align:top;
	align-content:center;
	position:relative;
	top:0;
	left:0;
	z-index:0;
}


#btn_close{
	right:5;
	top:5;
	float:right;
}


/* Styles for the contact form */

#contact{
	padding-top:8%;
}

#contact h4{
	font-family:'impact', Lucida, sans-serif;
	font-size:30px;
	color: #74321D;
	text-align:center;
	margin: 50px auto 50px;
}

form {
	max-width: 480px;
	margin: 0 auto;
}

label{
	display:block;
	margin-bottom:20px;	
}

span {
	display:block;
}

input, textarea{
	border:2px solid #74321D;
	width:100%;
}

input {
	height: 2em;
}

input:focus{
	outline:none;
	border-color: #C05230;
}
.submit_form{
	width:33%;
	margin: 0 auto;
}

.submit_form input{
	text-align:center;
	font-size: large;
	background-color: #74321D;
	color: #fff;
	border-radius: 10px;
	text-transform: uppercase;
}

.submit_form input:hover{
	background-color: #C05230;
}

textarea{
	height:10em;
}

textarea:focus{
	outline:none;
	border-color: #C05230;
}

.contact_info label{
	width:48%;
	margin: 0 auto 20px;
	
}

.contact_info label:nth-child(1){
	float:left;
	padding-right:9px;
}

.contact_info label:nth-child(2){
	float:right;
	padding-left:9px;
}
