/* CSS Document */

*{
    margin:0;
    padding: 0;
}

/* Custom fonts */
@font-face {
   font-family: 'caladea';
   src: url(../fonts/caladea/caladea-bold.ttf) format('truetype');
   font-weight: bold;
   font-style: normal;
}

@font-face {
   font-family: 'caladea';
   src: url(../fonts/caladea/caladea-bolditalic.ttf) format('truetype'); 
   font-weight: bold;
   font-style: italic;
}

@font-face {
   font-family: 'impact';
   src:url(../fonts/impact.ttf);
   font-weight:normal;
}

/* common styles*/
.floatleft {
	float: left;
	margin-bottom:5px;
}
.floatright {
	float:right;
	margin-bottom:5px;
}
.center {
	width:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.clearIt{
    clear: both;
}

/* Body */
body {
	background-image: url(../images/bkgrd.jpg);
	background-repeat: repeat;
}

/* Container and section styles */

#container {
	width: 100%;
	margin: 0 auto;
    text-align: center;
    color:#fff;
}

section {
	display1: block;
	height: 900px;
    width: 100%;
	margin-top: 3em;
	margin-bottom: 0px;
	
}

span{
    display: block;
}
img{
    max-width: 100%;
    height: auto;
}

.three{
	
	color:#968D8D;
}


/*Header Nav and footer styles*/
nav {
    padding: 0;
    text-align1: center;
    font-size: 1.2em;
    font-family:'caladea', Lucida Blackletter, sans-serif;
	font-weight:bold;
    text-shadow: 3px 2px 3px #333333;
	position:fixed;
    width: 100%;
    top:0;
    left:50%;
    margin-left: -175px;
	z-index:1000;
}

nav ul{
    text-align1: center;
}
nav ul li{
    float: left;
    text-align1: center;
    width1: 10%;
    padding: .2em .5em 0px .5em;
    
}
nav ul li a{
	text-decoration: none;
    color: #fff;
    padding1: 20px 15px 0px 15px;
	display1: inline-block;
}
 
footer ul, nav ul {
	list-style:none;
}

footer {
	top: 0;
	right:0;
	position:fixed;
	padding-top: .5em;
}

footer ul li{
    	float: left;
        padding: .5em .5em;
}
footer ul li a{
	text-decoration: none;	
}

footer img{
    width:90%;
}
/* Float on Nav hover*/

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active
 {
	transform: translateY(-8px);
	background-image: url(../images/highlight_menu2.png);
	background-repeat: no-repeat;
}



/* Styles for the "home" section */

#home{
    padding-top: 4em;
}
#home ,h2, p{
	line-height: 70%;
}

#home p{
	font-family:'caladea', Lucida Blackletter, sans-serif;
	font-weight:bold;
	font-style:italic;
	font-size:30px;
	padding:0px 0px 10px 0px;	
}

/* Transition for homepage text  */

#home p,h2{
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/* styles for section "about" */

#about{
	padding-top:4em;
}

#about h2{
/*	color:#02324D;*/
    color:#487462;
	margin-bottom: .8em;
	font-family:'caladea', Lucida Blackletter, sans-serif;
	font-weight:bold;
	font-style: italic;
	font-size:2em;
    display: block;
    text-align: left;
    
}

#about img{
    width: 25%;
    float: left;
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 3%;
}

#about_me{
    width: 80%;
    margin-left: 10%;
	line-height: 1.5em;
	word-spacing: normal;
	text-align:justify;
	font-family:'caladea', Lucida Blackletter, sans-serif;
	font-weight:bold;
	font-style:italic;
	font-size:1.2em;
	text-indent:100px;
}

.highlight_text{
	font-size:x-large;
	color:#487462;
	display:inline;
}

#resume{
	display:inline;	
}

#resume a{
	white-space:nowrap;
	color:#02324D;
	text-decoration:none;
}

/* styles for section "work" */

#work{
	padding-top:5%;
}

#pop {
	width: 700px; 
	height: 400px; 
	background: #ff0;
	border:2px solid;
	padding:10px;
 	position: fixed;
  	top: screenTop;
 	left: 0;
 	right: 0;
  	bottom: 0;
  	z-index: 500;
  	display: none;
}

table {
    width: 80%;
    height: auto;
    margin: 30px auto 0;
    text-align:center;
}

#btn_close{
	right:5;
	top:5;
	float:right;
}


/* Styles for the contact form */

/*
#contact{
	padding-top:10%;
    width: 100%;
	margin: 1% auto;
}
*/
#contact{
	padding-top:4em;
}
#contact h4{
    display: block;
	font-family:'impact', Lucida, sans-serif;
	font-size:30px;
	color: #74321D;
	margin-top: 2em;
    margin-bottom: 1em;
}

form {
	max-width: 70%;
	margin: 0 auto;
}

label{
    display: inline-block;
    text-align: right;
    width: 20%;
    margin-bottom: 1em;
    margin-left: -20%;
}

input, textarea{
    width: 50%;
    margin-left: .5em;
    margin-bottom: 2em;
    vertical-align: top;
}

textarea{
    height: 4em;
}

input:focus{
	outline:none;
	border-color: #C05230;
}
.submit_form{
	width:33%;
	margin: 0 auto;
}

.submit_form input{
    width: 5em;
	text-align:center;
	font-size: large;
	background-color: #74321D;
	color: #fff;
	border-radius: 10px;
	text-transform: uppercase;
}

.submit_form input:hover{
	background-color: #C05230;
}

/* Styles for the website galleries*/
        .goBack{
                text-decoration: none;
                color:#5d2e1c;
                display: block;
                text-align: center;
                padding-bottom: .5em;
            }

        .page{
            max-width: 960px;
            margin:4em auto 1em;
            display: flex;
            flex-direction: row;
            background-color: #5d2e1c;
            padding-left: .4em;
            padding-right: .4em;
        }

        .description{
            color:#fff;
            padding: .4em .8em;
            -webkit-flex: 2;
            -moz-flex:2 ;
            -ms-flex: 2;
            -o-flex: 2;
            flex: 2;
        }

        .description h2,h4,p{
            line-height: 1.3;
            margin-bottom: 0.5em;
        }

        .description a{
            font-size: 1.2em;
            color: #b7b7b7;
            text-decoration: none;
        }

        div.link{
            margin:.7em auto;
        }
        .site_photos{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .site_photos >div{
                margin-bottom: 1em;
            }

        .flexrow2{
            display: flex;
            align-items: center;              
        }

        .flexrow2 > div{
            margin: .5em;
            flex:1;
        }

        img { max-width: 100%; height: auto; }

        @media screen and (max-width:800px){
            .page{
            display: flex;
            flex-direction: column;
            }
            .flexrow2{
                flex-direction: column;
                justify-content: space-around;
            }
            
            .site_photos{
                padding: .4em .8em;
            }
            div.link, .description h2,.description h4{
            text-align: center;
            }

            .description p{
                padding: .4em .5em;
            }
        }


/* Media Queries */

@media screen and (max-width:800px){
    
     #home_image{
            max-width: 80%;
        }
    
    #about h2{
        font-size: 1.5em;
    }
    #about_me{
        font-size:1em;
        margin-left1: .5em;
    }

    footer ul li{
    	float: none;
        padding: 0.2em .5em;
    }
    footer img{
        width:75%;
    }
}

@media screen and (max-width:600px){

    nav{
        font-size: 1.2em;
    }
    #home_image{
        max-width: 70%;
    }

    #contact h4{
        font-size: 1.5em;
    }

    input[type="submit"]{
        font-size: medium;
    }
    #work{
        padding-top:15%;
    }
    footer ul li{
    float: none;
    padding: 0 .5em;
    }
}

@media screen and (max-width:525px){

.hamburger{
  cursor: pointer;
  padding: 15px;
  display: block;
  position:fixed;
    top: 0;
    left: 0;
  }

.line {
  border-bottom:4px solid #fff;
  width:35px;
  margin-bottom: 6px;
  }
  .line:last-child {
      margin-bottom: 0;
  }

  nav{
      width: 100%;
      margin-top: 15%;
      margin-left: -50%;

  }
  nav ul li{
      width: 100%;
      padding: 1.5em 0;
      background-color: rgba(116, 50, 29, .9);
      border-bottom: solid 1px #fff;
  }

.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active
 {
    transform: translateY(-8px);
    background-image: none;
}
  .menu{
      height: 0;
      overflow: hidden;
      transition: height .3s;
  }
  .menuOpen{
      height: 347px;
  }
}